/LightAction.class
/SmartHomeLightingAutomation.class
/EcommerceSorting.class
/Product.class
/NotificationFiltering.class
/Alert.class
/PatientIDPrinting.class
/Patient.class
/NameUppercasing.class
/InvoiceCreation.class
/Invoice.class
